name: Publish Python Package

on:
  release:
    types:
      - released

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install UV
        uses: astral-sh/setup-uv@v5
        with:
          pyproject-file: "pyproject.toml"
          python-version: '3.11'

      - name: Install dependencies with UV
        run: uv sync

      - name: Publish to PyPI
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
